html {
    scroll-behavior: smooth;
}
.nav{
    background-color: rgba(54, 4, 97, 0.89);
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    text-decoration: none;
    overflow:hidden;
}

.nav, .title-anchor{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
}


.nav .home{
    position: relative;
    left: -5rem;
}

.title-anchor{
    position: relative;
}

.title-anchor h1{
    padding-left: 10px;
}

.anchor-logo{
    text-decoration: none;
    color: rgb(231, 239, 239);
}
.item, .item a{
    color: white;
    position: relative;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}

.item a:hover{
    transform: scale(1.20);
    cursor: pointer;
    color:blanchedalmond;
}

.item:hover::before{
    color:rgba(54, 4, 97, 0.89);
}

.item:hover::after{
    color: rgb(189, 2, 251);
}

.create-account{
    background-color: rgb(162, 140, 204);
    color:rgba(54, 4, 97, 0.89);
    text-align: center;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-account a{
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.create-account a:hover{
    color: white;
    transition: all 0.3s ease-in-out;
}

.create-account a:active{
    color: rgb(29, 3, 27);
}



/*end of nav*/

body{
    background-color: rgb(232, 224, 240);
}

.img-gallery{
    background-image: url('/images/luxury-old-library-interior-night-dark-empty-room-reading-with-books-wooden-shelves_107791-3025\ \(1\).svg');
    height: 25rem;
    width: 70rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-size:contain;
}
.img-gallery-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-container{
    background-color: whitesmoke;
    margin: 0rem;
    height: 120rem;
}

#about-container{
    height: 90rem;
    background-color: whitesmoke;
    text-align: center;
}

#about-container h2{
    font-size: 2.5rem;
}
.about-divider{
    height: 2rem;
    background-color: rgb(75, 117, 135);
}

#services-section{
    background-color: rgb(255, 255, 255);
    height: 40rem;
    margin: 0;
    padding: 0;
    position:relative;
    align-items: center;
    display: flex; 
    flex-direction:column;
}

#services-section h2, #developers-section h2{
    margin-bottom: -0.5rem;
    font-size: xx-large;
}

[class*=service]{
    padding: 3rem;
    display: flex;
    position: relative;
   /* filter: blur(0);*/
    transition: filter 0.5s ease-in-out;
    overflow: hidden;
    z-index: 1;
}

/*
[class*=service] img{
    filter: blur(0);
    transition: filter 0.5s ease-in-out;
}


[class*=service] div:hover img{
    filter: blur(3px);
}

[class*=service]:hover img{
    filter: blur(5px);
    transition: filter 0.5s ease-in-out;
}

*/

[class*=service] h2, [class*=service] h3 {
    filter: blur(0);
    transition: filter 0.5s ease-in-out;
}

[class*=service] div:hover{
    background-image: none;
    transition: filter 2s ease-in-out;
    text-shadow: 4px 4px 8px rgb(255, 255, 255);
}

[class*=service] div:hover h3{
    transition: transform 1s ease-in-out;
    text-shadow: 4px 4px 8px rgba(0,0,0,0.6);
    color: black;
    font-size: 1.9rem;
    transform: scale(90.0);
    
}

[class*="service"] h3{
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
    font-size: x-large;
    display: flex;
    align-items:center;
    justify-content:center;
    transition: all 0.6s ease-in-out 0s;
}

[class*="service"] p{
    position: absolute;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.7s ease-in-out 0s;
    left: 50%;
    top: 50%;
    z-index: 2;
}

[class*=service] div:hover p{
    opacity: 1; 
}   

.services-container{
    display: grid;
    background-color: rgb(253, 255, 255);
    grid-template-columns : 1fr 1fr 1fr;
    height: 30rem;
    width: 90%;
    box-sizing: content-box;
    position: relative;
}

.service-a{
    background-color: rgb(129, 166, 206);
    background-size: cover;
  
}

.service-b{
    background-color: rgb(132, 196, 212);
}

.service-c{
    background-color: rgb(129, 166, 206);
}

.divider{
    height: 10px;
    margin: 20px 0;
    background: linear-gradient(to right, transparent, #8fa9c2, transparent);
}

#developers-section:not(h2) {
    background-color: rgb(253, 255, 255);
    height: 27rem;
    margin: 2rem;
    box-sizing: border-box;
    padding:  1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#developers-section h2{
    margin-bottom: 1rem;
}
.dev-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.circle-border{
    border: 1px solid rgb(105, 118, 148);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 2rem;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
    box-shadow: 0 0 0 3px #fffbfb;
    transition: box-shadow 0.3s ease;
}

.circle-border:hover {
    box-shadow: 0 0 0 8px #76ddff
  }
  
.dev-list p{
    position: relative;
}




footer{
    height: 30rem;
    background-color: #ccc;
    padding: 10px;

}

footer h2{
    text-align: center;
}
