.nav{
    background-color: rgba(54, 4, 97, 0.89);
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    text-decoration: none;
    overflow:hidden;
}

.nav, .title-anchor{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
}

.nav .home{
    position: relative;
    left: -9.8rem;
}

.title-anchor{
    position: relative;
}

.title-anchor h1{
    padding-left: 10px;
}

.anchor-logo{
    text-decoration: none;
    color: rgb(231, 239, 239);
}
.item, .item a{
    color: white;
    position: relative;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-decoration-line: none;

    
}

.item a:hover{
    transform: scale(1.10);
    cursor: pointer;
    color:rgb(49, 231, 255);
}

.item:hover::before{
    color:rgba(54, 4, 97, 0.89);
}

.item:hover::after{
    color: rgb(189, 2, 251);
}


/* end of nav */

body{
    
    background-color: whitesmoke;
}

.body-container{
    margin: 10rem;
    margin-top:5rem;
    height: 35rem;
    display: flex;
}

.inside-container-1{
   background-image: url("images/kidlibrary.png");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.inside-container-2{
    background-color:white;
    
}

.inside-container-1, .inside-container-2{
    height:45rem;
    width: 60rem;
    
}


.anchor-icon{
   text-align: center;
   padding-top:3rem;
   
}

.form-1{
    text-align:center;
}

input{
    height: 2.6rem;
    background-color: #F6EFEF;
    border-style: solid;
    border-color: #F6EFEF;
    border-radius: 3.5px;
}

#student, #non-student{
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    width: 1.4em;
    height: 1.25em;
    border: 0.15em solid #F6EFEF;
    border-radius: 50%;
}

#fname, #lname, #dob, #contact-num, #email, #password, #repassword{
    margin: 0.3rem;
    font-size: 17px;
}

.submit-1, .id-1{
    cursor: pointer;
    background-color: rgb(231, 239, 239);
    font-size:15px;
    height: 3rem;
    width: 6rem;
}

.submit-1{
    font-size: 18px;
    height: 3.5rem;
    width: 10rem;
}

#dob{
   width: 13.3rem;
}

#email, #password, #repassword{
    width: 27.2rem;
}

body{
    zoom: 0.8;
}