
.container{
    padding: 1rem;
    background-color: rgb(241, 249, 249);
    height: 27rem;
    font-size: small;
    text-align: center;
}

.card{
    background-color: whitesmoke;
    height: 26.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items:flex-start ;
    margin-top: 1.3rem;
}

table{
    width: 100%;
    border-collapse: collapse;
}

table .row{
    background-color: rgba(8, 3, 16, 0.639);
    color: white;
}
table td{
    padding: 1.5rem;
    border: 1px solid gray;
}
